<div id="<%= dom_id video %>">
  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= video.synopsis %>
  </p>

  <p>
    <strong>Youtube url:</strong>
    <%= video.youtube_url %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= video.duration %>
  </p>

  <p>
    <strong>Cast:</strong>
    <%= video.cast %>
  </p>

  <p>
    <strong>Crew:</strong>
    <%= video.crew %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= video.category %>
  </p>

  <p>
    <strong>User:</strong>
    <%= video.user_id %>
  </p>

</div>
